<h1>フォロー一覧</h1>


<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to "フォロー中", end_user_relationships_path(@end_user.id), class: "text-dark" %>
    </li>
    <li class="list-group-item">
      <%= link_to "フォロワー", end_user_relationships_path(@end_user.id, followers_id: @end_user.id), class: "text-dark" %>
    </li>
  </ul>
</div>

<% @follows.each do |follow| %>
  <div>
    <%= image_tag follow.end_user.get_profile_image(100, 100) %>
    <%= follow.end_user.name %>
    <% if follow.end_user.following?(current_end_user, follow.end_user.id).nil? %>
      <%#= link_to "フォローする", end_user_relationships_path(followee_id: follow.end_user.id), method: :post, class: "btn btn-primary" %>
    <% else %>
      <%#= link_to "フォロー済", relationship_path(follow.end_user.id), method: :delete, class: "btn btn-secondary" %>
    <% end %>
  </div>
<% end %>
