<div class="container-fluid">
  <div class="col-9 mx-auto">
    <h2 class="ttl_center4">新規投稿一覧</h2>
    <div class="row row-cols-4 mb-3">
      <%= render 'public/posts/post', posts: @new_posts %>
    </div>
    <%= paginate @new_posts %>
  </div>
</div>
