<h1>ゲーム一覧</h1>

<% @communities.each do |community| %>
  <%= image_tag community.get_image(300, 300) %>
  <%= link_to community_oath(community.id) do %>
    <%= community.name %>
  <% end %>
  <%= community.overview %>
<% end %>
