// $theme-colors: (
//   "primary": #B30006,
//   "secondary": #B30071,
//   "danger": #FF7269
// );
$enable-rounded: false;
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

// HEADER
header {
  background-color: #E0A5A6;
}

.logo {
  font-family: "Delius Swash Caps", cursive;
}
.profile {
  position: absolute;/*絶対配置にして*/
  z-index: 2;/*最前面に設定。数字は変更可*/
  top: 25px;
  left: 100px;
}
.bell {
  color: #F6EB0A;
  margin: 5px;
}
.log-out {
  color: #3C578E;
  width: 40px;
  height: 40px;
  margin: 5px;
}

// TITLE
.ttl_center4 {
  font-weight: bold;
  padding: 0 3em;
  width: fit-content;
  margin: 0 auto 20px;
  text-align: center;
  position: relative;
}
.ttl_center4::before, .ttl_center4::after {
  content: '';
  background: #4c9ac0;
  width: 2em;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.ttl_center4::before {
  left: 0;
}
.ttl_center4::after {
  right: 0;
}

.ttl_line {
  font-weight: bold;
  padding: 0.3em 0.5em;
  border-left: 8px double #4c9ac0;
}

// BODY
body {
  font-family: "Noto Sans JP", sans-serif;
}
.mini-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.icon-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.community_card-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.card-image {
  width: 280px;
  height: 200px;
  object-fit: cover;
}
.card-opacity {
  opacity: 0.5;
}
.post-large-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.pagination {
  justify-content: center;
}


// FOOTER
footer {
  background-color: #7A1400;
  color: #fff;
}

// FORM
.login-action input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
}
.login-action input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}
.form-group label {
  font-weight: 600;
  font-size: 15px;
  padding-left: 2px;
}
.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 35px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}
.form-group textarea {
  border-style: none;
  box-sizing: border-box;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}
.form-group input[type="file"] {
  width: 100%;
  height: 35px;
}
.comment-form input[type="text"] {
  width: 80%;
  height: 30px;
  border-style: none;
  box-sizing: border-box;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}
.comment-button {
  display: inline-block;
  width: 20%;
  height: 30px;
  font-weight: bold; /* 文字の太さ */
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
}


// BOX
.box {
  width: 400px;
  height: 500px;
  margin: 60px auto;
  border-radius: 4px;
  border: 1px #ddd solid;
}
.box-inner {
  padding: 20px 26px;
}
.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}
.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}
.box-newusr a {
  display: block;
  width: 100%;
  height: 40px;
  padding-top: 1px;
  font-size: 15px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}
.box-newusr a:hover {
  background: #e7e9ec;
}
.post-box, .notification-box {
  width: 100%;
  min-height: 600px;
  padding: 20px;
  background-color: #e1eef5;
}
.user-box {
  // border: ;
}
hr {
  margin: 15px 0;
}


// BUTTON
//--登録・編集ボタンなど
.simple-button, .setting-button, .background-button, .draft-button, .danger-button {
  display: inline-block;
  width: 100%;
  max-width: 200px; /* ボタン幅 */
  font-weight: bold; /* 文字の太さ */
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  margin: 0 auto;
}
.newpost-button {
  display: inline-block;
  width: 100%;
  max-width: 180px; /* ボタン幅 */
  line-height: 100px;
  font-weight: bold; /* 文字の太さ */
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  margin: 0 auto;
  color: #4D9BC1; /* 文字色 */
  border: 2px solid #4D9BC1; /* 線幅・種類・色 */
  background: #fff; /* 背景色 */
  font-size: 20px;
  position: fixed;
  right: 150px;
  bottom: 100px;
  z-index: 10;
}
.simple-button {
  padding: 1em;
  color: #4D9BC1; /* 文字色 */
  border: 2px solid #4D9BC1; /* 線幅・種類・色 */
  background: #fff; /* 背景色 */
}
/* マウスオーバーした際のデザイン */
.simple-button:hover, .newpost-button:hover, .background-button {
  color: #fff; /* 文字色 */
  background: #4D9BC1; /* 背景色 */
}
.setting-button {
  padding: 1em 2em;
  color: #9197A4; /* 文字色 */
  border: 2px solid #9197A4; /* 線幅・種類・色 */
  background: #fff; /* 背景色 */
}
.setting-button:hover {
  color: #fff; /* 文字色 */
  background: #9197A4; /* 背景色 */
}
.background-button, .draft-button {
  padding: 1em 2em;
  position: relative;
}
.draft-button {
  background: #9197A4; /* 背景色 */
  border: 2px solid #9197A4; /* 線幅・種類・色 */
  color: #fff; /* 文字色 */
}
.danger-button {
  padding: 1em;
  color: #EA4433; /* 文字色 */
  border: 2px solid #EA4433; /* 線幅・種類・色 */
  background: #fff; /* 背景色 */
}
.danger-button:hover {
  color: #fff; /* 文字色 */
  background: #EA4433; /* 背景色 */
}
/* マウスオーバーした際のデザイン */
.background-button:hover, .draft-button:hover {
  color: #000; /* 文字色 */
}
//--固定ボタン
.delete-button, .notification-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
.new-button {
  position: absolute;
  top: 0px;
  right: 10px;
}

//--投稿詳細画面への遷移
/*表示するテキストが切り替わる*/
.btntextchange{
    /*テキストの基点とするためrelativeを指定*/
  position: relative;
    /*ボタンの形状*/
  border: 1px solid #555;
  border-radius:25px;
    min-width:210px;
  padding: 20px;
    text-align: center;
  display: inline-block;
    text-decoration: none;
    color: #333;
    outline: none;
    /*アニメーションの指定*/
    transition: all .2s;
}
/*hoverした際の変化*/
.btntextchange:hover{
  background:#333;
  color:#fff;
}
.btntextchange span{
  /*絶対配置でテキストの位置を決める*/
  position: absolute;
  left: 50%;
  top:50%;
    transform:translate(-50%,-50%);
    /*アニメーションの指定*/
    transition: all .5s;
  /*ブロック要素にしてテキスト折り返しなし*/
  display: block;
  white-space: nowrap;
}
/*差し替わるテキストの設定*/
.btntextchange span:nth-child(2){
  opacity:0;/*透過0に*/
}
/*hoverするとテキストが入れ替わる設定*/
.btntextchange:hover span:nth-child(1){
  opacity:0;/*透過0に*/
}
.btntextchange:hover span:nth-child(2){
  opacity:1;/*不透明に*/
}


// MOVE
/*検索窓のエリア*/
.search-wrap {
  position: absolute;/*絶対配置にして*/
  z-index: 2;/*最前面に設定。数字は変更可*/
  top: 10px;
  right: 10px;
}
/*テキスト入力input設定*/
.search-text{
  -webkit-appearance: none;/*SafariやChromeのデフォルトの設定を無効*/
  width: 60px;/*テキスト入力エリアが伸びる前の横幅*/
  height: 60px;
  padding: 20px;
  border: none;
  background:#fff url("https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-3/img/icon_search.svg") no-repeat 17px center;/*虫眼鏡アイコンを背景に表示*/
  background-size: 25px 25px;
  transition: all 0.5s;/*transitionを使ってスムースに伸ばす*/
  outline: none;
  cursor: pointer;/*カーソルを指マークに*/
}
/*テキスト入力inputにフォーカスした時の形状*/
.search-text:focus {
  width: 250px;/*テキスト入力エリアが伸びる後の横幅*/
  padding: 20px 0 20px 60px;
  box-shadow: 0 2px rgba(0,0,0,.26);
}

/*Header内ナビゲーション*/
.gnavi{
  display: flex;
  flex-wrap: wrap;/*スマホ表示折り返し用なのでPCのみなら不要*/
  margin:0 0 50px 0;
  list-style: none;
}
.gnavi li a{
  display: block;
  padding:10px 30px;
  text-decoration: none;
  color: #333;
}
.gnavi li{
  margin-bottom:20px;
}
/*==================================================
　5-3-1 中心から外に線が伸びる（下部）
===================================*/
.gnavi li a{
  /*線の基点とするためrelativeを指定*/
  position: relative;
}
.gnavi li.current a, .gnavi li a:hover{
  color: #000;
}
.gnavi li a::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #000;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}
/*現在地とhoverの設定*/
.gnavi li.current a::after, .gnavi li a:hover::after {
  transform: scale(1, 1);/*X方向にスケール拡大*/
}
